<div class="page-header">
  <div class="page-header-left d-flex align-items-center">
    <div class="page-header-title">
      <h5 class="m-b-10">{{ title }}</h5>
    </div>
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'backoffice_dashboard' %}">Home</a></li>
      <li class="breadcrumb-item">{{ title }}</li>
    </ul>
  </div>
  {% if actions %}
    <div class="page-header-right ms-auto">
      <div class="page-header-right-items">
        <div class="d-flex align-items-center gap-2 page-header-right-items-wrapper">
          {{ actions|safe }}
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% if subtitle %}
  <div class="text-muted mb-3">{{ subtitle }}</div>
{% else %}
  <div class="mb-3"></div>
{% endif %}
